* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  color: #446cb3;
  text-decoration: none;
}

.header {
  height: 50px;
  background-color: #446cb3;
}

.header h1 {
  font-size: 24px;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

.header h1 a {
  color: #ffffff;
}

.header ul {
  position: absolute;
  top: 17.5px;
  right: 17.5px;
}

.header ul li {
  margin: 0 10px;
  display: inline-block;
}

.header ul li a {
  color: #ffffff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.form {
  width: 80%;
  min-height: 100px;
  margin: 50px auto;
}

.form h2 {
  font-weight: 100;
  text-align: center;
  padding: 25px 0;
  color: #446cb3;
}

.form form {
  width: 50%;
  margin: 0 auto;
}

.form .form-group {
  margin: 25px 0;
}

.form .form-group input {
  width: 100%;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
}

.form .form-group input:focus,
.form .form-group textarea:focus {
  outline: none;
  border-color:#446cb3;
}

.message {
  height: 45px;
  padding: 12.5px;
  border-radius: 5px;
}

.message.notice {
  background-color: #d1ecf1;
  color: #0c5460;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
}

.submit {
  width: 35%;
  min-height: 100px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: 50px 0;
  float: left;
}

.submit h3 {
  margin: 5%;
  font-weight: 100;
}

.submit h6 {
  margin: -10px 0 0 5%;
  font-weight: 100;
}

.submit form {
  width: 90%;
  margin: 0 auto;
}

.submit .form-group {
  margin: 5% 0;
}

.form-group textarea {
  width: 100%;
  height: 250px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

.submit .form-group input:focus,
.submit .form-group textarea:focus {
  outline: none;
  border-color:#446cb3;
}

.submit .form-group input {
  width: 100%;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
}

.form-group input[type="submit"] {
  background-color: #446cb3;
  color: #ffffff;
  border: 1px solid #446cb3;
}

.form-group input[type="submit"]:hover {
  background-color: #ffffff;
  color: #446cb3;
  cursor: pointer;
}

.posts {
  width: 60%;
  min-height: 100px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: 50px 0;
  float: right;
}

.post {
  padding: 25px;
  border-bottom: 1px solid #d3d3d3;
}

.post:last-child {
  border-bottom: none;
}

.post span {
  color: #818181;
  display: block;
  margin: 25px 0 25px 0;
}

.post a {
  margin-right: 10px;
}

.footer {
  clear: both;
  border-top: 1px solid #d3d3d3;
}

.footer p {
  font-size: 12px;
  color: #818181;
  text-align: center;
  padding: 25px;
}

@media(max-width: 800px) {
  .header h1 {
    text-align: left;
    margin-left: 2.5%;
  }

  .container {
    width: 100%;
  }

  .form form {
    width: 100%;
  }
  
  .submit {
    width: 90%;
    margin: 50px auto;
    float: none;
  }
  
  .posts {
    width: 90%;
    margin: 50px auto;
    float: none;
  }
}